{{ template "partials/header" .}}
{{ template "partials/configbar" . }}
<h2>Build</h2>
<p>Once you have completed customising your system above, you may build your
system.</p>
<h3></h3>
<p>Ready to build {{.sess.Name}} {{.sess.Version}}. Visit configuration page to
adjust version.</p>
<form method="post">
<p><button type="submit" class="btn">Build ISO</button></p>
</form>

<h3>Builds</h3>
<p><small>You can currently only view the latest build to due space
  constraints.</small></p>
<table>
  <tr>
    <th>Name</th>
    <th>Build Date</th>
    <th>Size</th>
    <th></th>
  </tr>
  <tr>
    <td>sifrOS v0.1.0</td>
    <td>03 Apr 2021 12:13pm GMT</td>
    <td>2.2 GB</td>
    <td><a href="#" class="btn">Download</a></td>
  </tr>
</table>

{{ template "partials/footer" .}}
