{{ template "partials/header" .}}
{{ template "partials/configbar" . }}
{{if .Progress}}
<meta http-equiv="refresh" content="1">
{{end}}
<h2>Build</h2>
<p>Once you have completed customising your system above, you may build your
system.</p>
<h3></h3>
<p>Ready to build {{.sess.Name}} {{.sess.Version}}. Visit configuration page to
adjust version.</p>
<form method="post">
  {{if .Progress}}
  <p><b>Build in progress:</b> {{.Progress}}</p>
  {{else}}
<p><button type="submit" class="btn">Build ISO</button></p>
  {{end}}
</form>

<h3>Builds</h3>
<p><small>Currently showing the latest build only, due to disk space
  constraints.</small></p>
<table>
  <tr>
    <th>Name</th>
    <th>Build Date</th>
    <th>Size</th>
    <th></th>
  </tr>
  {{if .HasBuild}}
  <tr>
    <td>{{.sess.Name}} build</td>
    <td>{{.BuildTime}}</td>
    <td>{{.BuildSize}} GB</td>
    <td>
      <a href="/download/final.iso" class="btn">Download</a>
      <a href="/download/sha256sum.txt" class="btn">Hash</a>
      <a href="/download/sha256sum.sig" class="btn">Sig</a>
    </td>
  </tr>
  {{else}}
  <tr>
    <td><small>No builds...</small></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {{end}}
</table>

{{ template "partials/footer" .}}
