{{ template "partials/header" .}}
{{ template "partials/configbar" . }}
<h2>Build</h2>
<p>Once you have completed customising your system above, you may build your
system.</p>
<h3></h3>
<p>Ready to build {{.sess.Name}} {{.sess.Version}}. Visit configuration page to
adjust version.</p>
<form method="post">
<p><button type="submit" class="btn">Build ISO</button></p>
</form>

<h3>Builds</h3>
<p><small>Currently showing the latest build only, due to disk space
  constraints.</small></p>
<table>
  <tr>
    <th>Name</th>
    <th>Build Date</th>
    <th>Size</th>
    <th></th>
  </tr>
  {{if .HasBuild}}
  <tr>
    <td>{{.sess.Name}} build</td>
    <td>{{.BuildTime}}</td>
    <td>{{.BuildSize}} GB</td>
    <td><a href="/download/final.iso" class="btn">Download</a></td>
  </tr>
  {{else}}
  <tr>
    <td><small>No builds...</small></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {{end}}
</table>

{{ template "partials/footer" .}}
