{{ template "partials/header" .}}
{{ template "partials/configbar" . }}
<h2>Distribution Configuration</h2>
<form method="post">
  <h3>Name</h3>
  <p>This is where you can name your distribution and give it a version.</p>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required="1" value="{{.sess.Name}}">
  </div>
  <div class="form-group">
    <label for="ver">Version:</label>
    <input type="text" id="ver" name="ver" required="1" value="{{.sess.Version}}">
  </div>
  <h3>Localisation</h3>
  <p>Below you can pre-select the localisation, such as the keyboard layout and
  default timezone. This can be changed later during installation.</p>
  <div class="form-group">
    <label for="ver">Keyboard layout:</label>
    <input type="text" id="kbd" name="kbd" required="1" value="{{.sess.Kbd}}">
  </div>
  <div class="form-group">
    <label for="ver">Default timezone:</label>
    <input type="text" id="tz" name="tz" required="1" value="{{.sess.Tz}}">
  </div>
  <button class="btn" type="submit">Save</button>
</form>
{{ template "partials/footer" .}}
